<div class="card">
  <h2>
    <p-toast position="bottom-right"></p-toast>

    <span class="pi pi-fw pi-lock text-xl"></span>
    Modifier votre mot de passe </h2>
    <form (ngSubmit)="onSubmit()" #f="ngForm" style="max-width: fit-content;">
      
        <div >
            <label for="password">Ancien Mot de passe</label>

            <p-password
                type="password"
                name="password"
                [(ngModel)]="form.password"
                required
                #password="ngModel"
                [toggleMask]="true"
                styleClass="w-full mb-3"
            ></p-password>
        </div>
        <div >
            <label for="password">Nouveau Mot de passe</label>

            <p-password
                type="password"
                name="newpassword"
                [(ngModel)]="form.newpassword"
                required
                minlength="6"
                #password="ngModel"
                [toggleMask]="true"
                styleClass="w-full mb-3"
            ></p-password>
        </div>

        <button style="max-width: fit-content; background: rgb(47, 158, 47);"
            pButton
            pRipple
            label="Modifier"
            class="w-full p-3 text-xl"
        ></button>
    </form>

</div>

